[Desktop Entry]
Type=Application
Exec=sh -c "DISPLAY=:0 xset s off -dpms s noblank"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Disable Sleep
