[Desktop Entry]
Type=Application
Name=Display Fix
Exec=sh -c "sleep 8; DISPLAY=:0 XAUTHORITY=/home/mila/.Xauthority xset s off; DISPLAY=:0 XAUTHORITY=/home/mila/.Xauthority xset -dpms; DISPLAY=:0 XAUTHORITY=/home/mila/.Xauthority xset s noblank; DISPLAY=:0 XAUTHORITY=/home/mila/.Xauthority xrandr --output HDMI-1 --mode 3840x2160 --rate 30 --primary"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true