[Desktop Entry]
Type=Application
Name=Kiosk
Exec=sh -c "sleep 15; DISPLAY=:0 XAUTHORITY=/home/mila/.Xauthority /home/mila/menudisplay_setup/scripts/kiosk.sh >> /home/mila/kiosk.log 2>&1"
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false