[Desktop Entry]
Type=Application
Exec=/home/mila/menudisplay_setup/scripts/show-ip.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Show IP
